.root {

}

.grid {
	/* padding: 5px; */
	width: 800px;
	margin: 32px auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.title {
	height: 128px;
	background: red;
}
